# Required for minimum function
# Discord Bot Token from Dev portal
PV_DISCORD_TOKEN = "<bot_token>"

# Express server port
PV_DISCORD_BOT_PORT = "<port>"

# host address (including port for localhost) for the api
PV_API_URL = "<api_address>"

# guild id of the target server
PV_GUILD_ID = "<guild_id>"
