# Required for minimum function
# Discord Bot Token from Dev portal
DISCORD_TOKEN = BOT_TOKEN
# Mongodb URI for DB login and auth
MONGODB_URI = URI
# Express server port
PORT = 3000

API_HOST_ADDR = 'http://localhost:8080'

PV_GUILD_ID=
